body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: white;
}

.wrapper {
  background-color: white;
  height: 100vh;

}

.app-header {
  background: #26892a;
  font-size: 10px;
  top: 0px;
  position: relative;
  color: white;
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.app-header h1 {
  position: relative;
  left: 50px;

}

.app-header span {
  transform: scale(2.25);
  position: relative;
  left: 20px;
  top: 2px;
}

.app-header a {
  position: absolute;
  right: 20px;
  color: #26892a;
}

.shadow-wrapper {
  background-color: white;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 10px;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(211, 210, 210);
}

.profile-section {
  text-align: center;
  padding: 20px 0;
  height: 35vh;
}

.profile-section circle {
  width: 100px;
  /* or your desired size */
  height: 100px;
  /* should be equal to width for a perfect circle */
  border-radius: 50%;
  /* makes it circular */
  overflow: hidden;
  /* hides excess content */
  /* Additional styling as needed */
}

.profile-section img {
  object-fit: cover;
  border-radius: 50%;
  height: 150px;
  width: 150px;

}

.profile-section p {
  margin-top: 8px;
  font-size: 1em;
}

.profile-section span {
  position: relative;
  color: #26892a;
}

#profile-message {
  position: relative;
  bottom: 0px;
}

.details-section {
  text-align: center;
  padding: 20px 0;
  background-color: rgb(227, 227, 227);
  height: 45vh;
}

.details-section h2 {
  position: relative;
  font-size: 3em;
  font-weight: 400;
  margin: 0%;
}

#papardo {
  font-size: 2em;
  margin: 0%;
}

#date {
  font-size: 1.5em;
  font-weight: 400;
  margin: 0%;
  font-weight: bold;
}

.details-section p {
  font-size: 1em;
}

.code-circle {
  width: 120px;
  height: 80px;
  line-height: 100px;
  border-radius: 50%;
  background: #000;
  color: #fff;
  font-size: 2.25em;
  margin: 0px auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hidden {
  display: none;
}